.movie-films {
    background-color: #16171E;
}
.movie-films .overlay {
    background-image: url('../../Assets/ucm_bg_shape.png');
    padding: 70px 0px 50px 0px;
}
.filter-btn {
    margin-bottom: 50px;
}
.filter-btn button {
    border: none;
    width: 100px;
    height: 50px;
    background-color: crimson;
    border: 3px solid #e4d804;
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: background-color 0.5s , color 0.5s , border-color 0.5s;
    -webkit-transition: background-color 0.5s , color 0.5s , border-color 0.5s;
    -moz-transition: background-color 0.5s , color 0.5s , border-color 0.5s;
    -ms-transition: background-color 0.5s , color 0.5s , border-color 0.5s;
    -o-transition: background-color 0.5s , color 0.5s , border-color 0.5s;
}
.filter-btn button:hover {
    background-color: #fff;
    color: crimson;
    border-color: crimson;
}
.movie-box {
    margin-bottom: 25px;
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    background-color: #000;
    z-index: 1;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.movie-box::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 140px;
    height: 140%;
    background-color:  crimson;
    box-shadow: 0 0 20px rgb(8,8,8);
    animation: animate 5s ease-in-out infinite;
    -webkit-animation: animate 5s ease-in-out infinite;
    animation-play-state: paused;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s , visibility 0.5s;
    -webkit-transition: opacity 0.5s , visibility 0.5s;
    -moz-transition: opacity 0.5s , visibility 0.5s;
    -ms-transition: opacity 0.5s , visibility 0.5s;
    -o-transition: opacity 0.5s , visibility 0.5s;
}
.movie-box:hover::before {
   animation-play-state: running;
   opacity: 1;
   visibility: visible;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}
.movie-box img {
    width: 91%;
    height: 93%;
    inset: 2%px;
    position: absolute;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.movie-box-overlay {
    position: absolute;
    width: 150px;
    height: 60px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    margin: auto;
    background-color: rgba(7, 71, 156, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    visibility: hidden;
    transform: scale(0,1);
    -webkit-transform: scale(0,1);
    -moz-transform: scale(0,1);
    -ms-transform: scale(0,1);
    -o-transform: scale(0,1);
    transition:opacity 0.5s , visibility 0.5s , transform 0.5s ;
    -webkit-transition:opacity 0.5s , visibility 0.5s , transform 0.5s ;
    -moz-transition:opacity 0.5s , visibility 0.5s , transform 0.5s ;
    -ms-transition:opacity 0.5s , visibility 0.5s , transform 0.5s ;
    -o-transition:opacity 0.5s , visibility 0.5s , transform 0.5s ;
}
.movie-box:hover .movie-box-overlay {
    opacity: 1;
    visibility: visible;
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
}
.movie-box-overlay button ,
.movie-box-overlay a {
    width: 50px;
    height: 40px;
    display: block;
    line-height: 36px;
    text-align: center;
    border: none;
    margin: 0 5px;
    font-size: 20px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    transition: background-color 0.5s , color 0.5s;
    -webkit-transition: background-color 0.5s , color 0.5s;
    -moz-transition: background-color 0.5s , color 0.5s;
    -ms-transition: background-color 0.5s , color 0.5s;
    -o-transition: background-color 0.5s , color 0.5s;
}
.movie-box-overlay a:first-child {
    background-color: yellow;
    color: #16171E;
    border: 2px solid yellow;
}
.movie-box-overlay a:hover:first-child {
    background-color: #16171E;
    color: yellow;
}
.movie-box-overlay button:last-child {
    background-color: red;
    color: #fff;
    border: 2px solid red;
}
.movie-box-overlay button:hover:last-child {
    background-color: #fff;
    color: red;
}
.mybtn{
    border: 2px solid #e4d804 !important;
  }

@media screen and (max-width:575px){
    .movie-box {
        width: 70%;
        margin: 0 auto 25px auto;
    }
    .movie-box img {
        width: 94%;
        height: 94%;
        inset: 3%;
    }
    .filter-btn {
        text-align: center;
    }
}
@media screen and (max-width:400px){
    .movie-box {
        width: 90%;
    }
}
@media screen and (max-width:280px){
    .movie-box {
        width: 100%;
    }
}
@media screen and (max-width:480px){
    .filter-btn button {
        width: 90px;
        font-size: 15px;
        margin: 0 10px 15px 0;
    }
}